<style >
.list-group-item {
    border-left: none;
    border-right: none;
    transition: all 0.2s;
}

.list-group-item:hover {
    background-color: rgba(var(--primary-color-rgb), 0.1);
    transform: translateX(3px);
}

.list-group-item:first-child {
    border-top: none;
}

</style >
