<style >
.card {
    background-color: var(--bg-color);
    border: none;
}

.form-control, .input-group-text {
    border-radius: 10px !important;
}

.toggle-password {
    border-radius: 0 10px 10px 0 !important;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    transition: all 0.3s;
}

    .btn-primary:hover {
        background-color: var(--secondary-color);
        transform: translateY(-2px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }

</style >
